.slide_body {
  width: 600px;
  height: 100%;
  margin-right: 2px;
}

.slide_area {
  width: 100%;
  position: relative;
}

.slide_name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 30px;
  -webkit-text-stroke: 1px #000000;
}

@media screen and (max-width: 768px) {
  .slide_body {
    width: 100%;
  }
}
