.gameplay_body {
  height: 100%;
  margin-left: 2px;
}

.gameplay_slide {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameplay_item_name {
  text-align: center;
  text-transform: uppercase;
  padding-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: red;
}

@media screen and (max-width: 768px) {
  .gameplay_body {
    width: 100%;
  }
  .gameplay_slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .gameplay_item_name {
    padding-right: 25px;
  }
}
