.contentContainer_body {
  width: 100%;
  height: 470px;
}

.contentContainer_top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contentContainer_middle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0px;
}
.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .contentContainer_top {
    flex-direction: column;
  }
  .contentContainer_middle {
    align-items: center;
    margin: 0px 0px;

    flex-direction: column;
  }
}
