.sideBarAdmin_body {
  background-color: red;
  width: 389px;
  height: 100vw;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  padding-left: 18px;
  line-height: 41px;
  margin: 0;
  list-style-type: none;
}

.sideBarAdmin_body li:nth-child(3) {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.sideBarAdmin_posts {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-right: 14px;
}

.sideBarAdmin_addposts {
  display: none;
}

.sideBarAdmin_posts:hover .sideBarAdmin_addposts {
  display: block;
}
