.sideBarFront_body {
  width: 389px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  padding: 0px 10px 0 10px;
  line-height: 41px;
}

.sideBarFront_body > div {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .sideBarFront_body {
    width: 90vw;
  }
}
