.middle_section_body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 600px;
}

.middle_section_area {
  width: 100%;
}

.middle_section_image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: 20px;
  padding-left: 10px;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .middle_section_body {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
  .middle_section_image {
    width: 100%;
    padding-left: 0px;
    padding-left: 0px;
    justify-content: flex-start;
  }

  .middle_section_name {
    padding-left: 10px;
  }
}
