.upload_file {
  display: flex;
  color: #000;
}
.upload_progress {
  background-color: black;
  height: 30px;
  margin: 15px 0;
}

.sendPictures_message {
  color: black;
}

.sendPictures_picture_item {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  color: #000;
}

.sendPictures_trash_icon {
  position: absolute;
  top: 6px;
  left: 170px;
}
