.menu_desktop {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 10px;
}

.menu_categories_desktop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -32px;
  flex-wrap: wrap;
}

.menu_mobile {
  display: none;
}

.menu_desktop li {
  margin-right: 10px;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.menu_desktop li:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu_body {
    position: relative;
  }
  .menu_desktop {
    display: none;
  }
  .menu_mobile {
    position: relative;
  }

  .menu_categories_mobile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: red;
    color: white;
    width: 55vw;
    height: 100%;
    overflow-y: scroll;
    padding-left: 22px;
    text-transform: capitalize;
  }
  .closeMenu {
    display: flex;
    align-self: end;
    padding-right: 10px;
  }

  .menu_categories_mobile div {
    text-align: end;
    margin: 10px 5px;
    font-size: 8vw;
  }

  .menu_categories_mobile li {
    color: white;
    margin: 10px 40px 10px 10px;
  }
}
