.gallery_body {
  text-align: center;
  margin: 50px 0 20px;
  width: 100%;
}

.gallery_body div {
  border-radius: 10px;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery_body div > div {
  position: unset !important;
  width: 97%;
  padding-bottom: 00px;
}

.gallery_image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@media (max-width: 768px) {
  .gallery_body {
    margin-top: 0px;
    width: 100vw;
    margin-top: 0px;
  }

  .gallery_body div {
    border-radius: 0px;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .gallery_body div > div {
    width: 100vw;
    padding-bottom: 5px;
  }
}
