.middle_body {
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.middle_image_area {
  height: 100%;
  position: relative;
  margin: 2px 0;
}

.middle_image_name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
  -webkit-text-stroke: 0.5px #000000;
}

@media screen and (max-width: 768px) {
  .middle_body {
    width: 100%;
  }

  .middle_image_area {
    margin: 5px 0;
  }
}
