.ChoosePictures_body {
  display: flex;
  flex-wrap: wrap;
  color: #000;
}

.sendPictures_body div {
  padding-left: 5px;
}

.ChoosePictures_picture_item {
  position: relative;
  margin-right: 6px;
  cursor: pointer;
}

.ChoosePictures_trash_icon {
  position: absolute;
  top: 6px;
  right: 6px;
}
