.topBarAdmdin_body {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 6%;
  height: 130px;
}

.topBarAdmdin_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBarAdmdin_logo button {
  height: 30px;
}

.topBarAdmdin_message span {
  color: white;
  font-size: 26px;
}

.topBarAdmdin_message button {
  height: 30px;
  margin-left: 20px;
}
