.adsAdmin_body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 410px;
  font-size: 23px;
}

.adsAdmin_body > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.adsAdmin_close {
  color: black;
  display: flex;
  align-self: flex-end;
  margin: 10px 10px 0 0;
}

.adsAdmin_close:hover {
  cursor: pointer;
}
