.categoriesAdmin_body {
  text-align: center;
}

.new_category {
  display: flex;
  flex-direction: column;
  font-size: 23px;
  text-align: center;
  margin: 0 35%;
}

.new_category span {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.new_category button {
  margin-top: 20px;
  height: 40px;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 23px;
  margin-top: 30px;
  text-transform: uppercase;
}

.categories_item {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.categories > span {
  margin: 0 20px;
  font-size: 30px;
}
