.category_body {
  margin: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.image_area {
  width: 300px;
  margin: 0px 15px 10px;
  position: relative;
}

.image_name {
  position: absolute;
  font-size: 30px;
  left: 10px;
  bottom: 10px;
  font-weight: bold;
  color: white;
  text-shadow: 0px -0px 9px rgb(0, 0, 0);
}
