.LoginAdmin_body {
  background-color: red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LoginAdmin_body div {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 28px;
}

.LoginAdmin_body div span,
.LoginAdmin_body div input {
  margin-bottom: 10px;
}
