.login_body {
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_body div:nth-child(1) {
  margin-bottom: 20px;
}

.login_form {
  text-align: center;
}

.login_inputs {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #fff;
  width: 100%;
}

.login_inputs div {
  width: 90%;
}

.login_inputs > input:nth-child(5) {
  width: 100px;
  height: 40px;
  margin-top: 10px;
}

.login_inputs span {
  font-size: 20px;
}
