.post_body {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .post_body {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .post_body div img {
    width: 100vw;
  }
  .post_body div iframe {
    width: 100vw;
  }
}
