.newPost_body {
  padding-right: 0.5%;
  display: flex;
  justify-content: flex-start;
}

.newContent_field {
  margin: 0 7%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.newContent_input {
  margin-top: 15px;
}

.form_answer {
  display: block;
  margin-bottom: 10px;
}

.form_answer_disable {
  display: block;
}
