.search_body {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.search_content {
  text-align: center;
  width: 100%;
}

.search_content input {
  margin-bottom: 30px;
}

.search_item_area {
  /* margin: 0 25%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search_item_area div {
  height: 222px;
  width: 269px;
  margin-bottom: 40px;
}

.search_item_area span {
  margin-bottom: 10px;
  text-transform: uppercase;
}
