.topbar_body {
  width: 100%;
  color: white;
  background-color: black;
  padding: 45px 0 20px;
  position: relative;
}

.topbar_connected {
  font-size: 20px;
  padding: 6px 0 6px 5px;
  background-color: red;
  position: absolute;
  top: 0;
  width: 99.5%;
}

.topbar_content {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.buttonBar {
  display: none;
}

@media (max-width: 768px) {
  .topbar_body {
    padding: -1px 0 20px;
  }
  .buttonBar {
    position: absolute;
    display: flex;
    top: 44px;
    left: 20px;
    color: white;
    font-size: 20px;
    z-index: 999;
    display: block;
  }
  .topbar_connected {
    visibility: hidden;
  }
}
